@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@layer base {
  body {
    @apply font-inter;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

/* Your own custom utilities */
@layer components {
    .heading-h1 {
      @apply text-h1 font-medium uppercase;
    }

    .heading-h2 {
      @apply text-h2 font-bold;
    }

    .heading-h3 {
      @apply text-h3 font-semibold;
    }

    .heading-h4 {
      @apply text-h4 font-medium;
    }

    .heading-h5 {
      @apply text-h5 font-semibold;
    }

    .heading-h6 {
      @apply text-h6 font-semibold;
    }

    .text-subtitle1 {
      @apply text-subtitle1 font-normal;
    }

    .text-body-large {
      @apply text-bodyLarge font-normal leading-[20px];
    }

    .text-body-small {
      @apply text-bodySmall font-normal leading-[20px];
    }

    .text-button-large {
      @apply text-buttonLarge font-semibold leading-[20px];
    }

    .text-button-small {
      @apply text-buttonSmall font-normal leading-[20px];
    }

    .text-caption {
      @apply text-caption font-normal;
    }
  }